version: '3'

services:
  backend:
    build:
      context: ./madrid-events-backend
      dockerfile: Dockerfile
    image: madrid-events-backend
    ports:
      - "5000:5000"
  frontend:
    build:
      context: ./madrid-events-frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    image: madrid-events-frontend
    environment:
      - NODE_ENV=development
